@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(var(--x-end), var(--y-end)) scale(1.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
}

.orb-1 {
  --x-end: 20vw;
  --y-end: -30vh;
  top: 20vh;
  left: 10vw;
  width: 300px;
  height: 300px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  animation: float 25s ease-in-out infinite;
}

.orb-2 {
  --x-end: -25vw;
  --y-end: 20vh;
  top: 50vh;
  left: 60vw;
  width: 250px;
  height: 250px;
  background-color: #fee140;
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  animation: float 20s ease-in-out infinite reverse;
}

.orb-3 {
  --x-end: 15vw;
  --y-end: 15vh;
  top: 70vh;
  left: 20vw;
  width: 200px;
  height: 200px;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  animation: float 15s ease-in-out infinite;
}
