@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  border: 2px dashed #784ba0;
  border-image: linear-gradient(45deg, #ff3cac, #784ba0, #2b86c5) 1;
  animation: rotate 20s linear infinite;
}
