
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    text-align: center;
}

.home-content h2 {
    margin-bottom: 20px;
}

.home-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
